@use "variables";

@mixin taskBox {
    background-color: variables.$white;
    @include variables.roundBorder;
    padding: variables.$paddingmd;
    display: flex;
    flex-direction: column;
}

@mixin addTask {
    color: variables.$blue;
    background-color: variables.$white;
    @include variables.roundBorder;
    padding: .5rem;
    font-weight: bold;
}