
//Colors
$offWhite: #eeeeee;
$backGray: #9e9e9e;

//Padding Margin
$paddingsm: 1rem;
$paddingmd: 1.5rem;
$paddinglg: 3rem;
$marginsm: 1rem;
$marginmd: 1.5rem;
$marginlg: 3rem;

//Fonts
$fontMain: "Quicksand", sans-serif;

html {
    font-family: $fontMain;
}