@use "variables";
@use "cards";


html, body{
    padding: 0px;
    margin: 0px;
}

h2 {
    margin: 0px;
}

h3 {
    margin: 0px;
}

h4 {
    margin: 0px;
}

h5 {
    margin: 0px;
}

h6 {
    margin: 0px;
}

p {
    margin: 0px;
}

.main{
    display: flex;
}

.production{
    flex-grow: 1;
}

.tasks{
    display: flex;
    justify-content: space-around;
    gap: 1rem;

    *{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}

.taskHead{
    flex-direction: row;
    align-items: center;
    position: relative;
}

.card{
    border: 1px dotted black;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;

    .menu{
        position: absolute;
        border: 1px dotted black;
        top: 30px;
        right: 10px;
        *{
            padding: 10px;
            margin: 0px;
        }
        p {
            background-color: white;
            &:hover{
            background-color: red;
            }
        }
    }
}

.toggleDisplay{
    display: none;
}