@use "variables";
@use "cards";


html, body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: variables.$fontMain;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    margin: 0px;
}

.main{
    height: 100%;
    display: flex;
    // margin: variables.$marginlg;
    > * {
        border: variables.$border;
        margin: variables.$marginsm;
        padding: variables.$paddingmd;
    }
}


//Temp Blur effect to get rid of distractions. 
.nav, .projects {
    display: none;
    filter: blur(2px);
}

.production{
    // flex-grow: 1;
    height: 100%;
    background-color: variables.$offWhite;
}

.taskFolder{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    .tasks {
        @include variables.flexCol;
        p{
            overflow: hidden;
            
        }
        .taskHead{
            display: flex;
        }
    }

    .status{
        @include variables.flexCol;
    }

    .addTaskButton{
        @include cards.addTask;
    }
}

.taskHead{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.card{
    @include cards.taskBox;

    .menuButton{
        background-color: variables.$orange;
        border-radius: 120px;
        padding: 8px 10px;
    }

    .menu{
        position: absolute;
        border: 1px dotted black;
        top: 30px;
        right: 10px;
        *{
            padding: 10px;
            margin: 0px;
        }
        p {
            background-color: white;
            &:hover{
            background-color: red;
            }
        }
    }
}

.toggleDisplay{
    display: none;
}